:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196F3;
  --hero-text-color: #FFFFFF;
  --primary-background-color: #F5F5F5;
  --secondary-background-color: #F5F4FA;
  --footer-background-color: #2F303A;
}
body {
  font-family: 'Roboto', 'sans-serif';
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  font-size: 14px;
  font-weight: 700;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* header-logo */
.header-logo {
  color: #000000;
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.19;
}
.logo-accent {
  color: var(--accent-color);
}
/* header-nav */
.nav-items .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-items .link:hover,
.nav-items .link:focus {
  color: var(--accent-color);
}
.nav-items .link.current {
  color: var(--accent-color);
}
.contacts a {
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14;
}
.contacts a:hover,
.contacts a:focus {
  color: var(--accent-color);
}
/* hero */
.hero {
  background-color: var(--footer-background-color);
  text-align: center; 
}
.hero-title {
  color: var(--hero-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}
.hero-button {
  font-family: inherit;
  color: var(--hero-text-color);
  font-size: 16px;
  line-height: 1.88;
  background-color: var(--accent-color);
  border: none;
}
/* section */
.no-visible {
  font-size: 0;
}
.section-subtitle {
  color: var(--secondary-text-color);
  line-height: 1.14;
  text-transform: uppercase;
}
.section-text {
  font-weight: 400;
  line-height: 1.71;
}
.section-ourteam {
  background-color: var(--secondary-background-color);
}
.section-title {
  color: var(--secondary-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.section-title-name {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19px;
}
.section-title-job {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19px;
}
/* footer */
.footer {
  background-color: var(--footer-background-color);
}
.footer-logo {
  color: var(--hero-text-color);
  font-family: 'Raleway';
  font-size: 26px;
  line-height: 1.19;
}
.footer-contacts .link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  line-height: 1.71;
  font-style: normal;
}
.footer .footer-adress {
  color: var(--hero-text-color);
}
.footer-contacts a:hover,
.footer-contacts a:focus {
  color: var(--accent-color);
}
/* portfolio */
.portfolio-filter button {
  font-family: inherit;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  background-color: var(--secondary-background-color);
  border: none;
}
.portfolio-filter button:hover,
.portfolio-filter button:focus {
  color: var(--hero-text-color);
  background-color: var(--accent-color);
}
.presentations-titel {
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.presentations-item {
  color: var(--primary-text-color); 
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
}